<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $(function() {
      $('a#process_input').bind('click', function() {
      $.getJSON('/result', {
      prog: $('input[name="prog"]').val(),
      }, function(data) {
      $("#result").text(data.result);
      });
      return false;
      });
      });
    </script>
  </head>
  <body>
    <div class='container'>
    <form action = "http://localhost:5000/result" method = "post">
         <p>Enter Program:</p>
         <p><input type = "text" name = "prog" /></p>
         <p><a href=# id=process_input><button>Submit</button></a></p>
	   <!--<input type = "submit" value = "submit" /></p> --->
      </form>

    <p id=result>
    {% for val in result %}
    {{ val }}
    {% endfor %}
    </p>
    </div>
  </body>
</html>
