<html>
  <head>
    <title>Polite Programming</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $(function() {
      $('a#process_input').bind('click', function() {
      $.getJSON('result', {
      prog: $('textarea[name="prog"]').val(),
      }, function(data) {
      $("#result").text(data.result);
      });
      return false;
      });
      });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
  </head>
  <body>
    <div id='container'>
    <div id="input">
    <form action = "http://localhost:5000/result" method = "post">
         <p>Enter Program:</p>
         <p><textarea name = "prog" spellcheck="false"></textarea></p>
         <p><a href=# id="process_input"><button>Submit</button></a></p>
      </form>
    </div>
    <div id="computer">
      this is a computer
    </div>

    <div id="output">
      <img src="static/bubble.png">
      </div>
      <div id="result">
      

    {% for val in result %}
    {{ val }}
    {% endfor %}
    </div>
    </div>
  </body>
</html>
